ion-item {
    border-radius: 25px !important;
    --background: #f2f2f2;
    --color: #bcbcbc
}

.header-align-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.forget-txt-align {
    padding-top: 20px;
    // margin-top: 25px !important;
}

.align-content {
    transform: translate(0%, -1%)
}

.login-txt {
    position: absolute;
    left: 45%;
    top: 78%;
}

.item-native {}