<ion-app>
    <ion-menu contentId="main-content" side="start">
        <ion-header>
            <ion-toolbar color="dark">
                <ion-title>Dr.D.Y.Patil colleage of eng</ion-title>
            </ion-toolbar>
        </ion-header>

        <ion-content>



            <ion-list>

                <ion-menu-toggle auto-hide="false" *ngFor="let page of reUPages">
                    <ion-item [routerLink]="page.path" routerDirection="root">
                        {{page.name}}
                    </ion-item>
                </ion-menu-toggle>
            </ion-list>
        </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>

</ion-app>